* {
    margin:0;
    padding: 0;
}

article {
    width:60%;
    margin:auto;
}

.cartBox img {
    width: 50px;
    height:50px;
}

.cartImg {
    display: flex;
    width:400px;
}

.cartImg p {
    font-weight: bold;
    margin-left:10px;
}

.cartBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    border-bottom: 2px solid #19376D;
    padding-bottom: 5px;
    gap: 1rem;
}

.cartBox div:nth-child(2) button {
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
}

.cartBox div:nth-child(3) button {
    padding:5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border:none;
    outline:none;
    color: white;
    background-color: #19376D;
    border-radius: 5px;
    cursor: pointer;
}

.cartBox div:nth-child(3) button:hover {
    background-color: darkseagreen;

}

.cartBox div:nth-child(3) span {
    background-color: lightgreen;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.total {
    display: flex;
    justify-content: space-between;
}

.total span:nth-child(1){
    font-size: 2rem;
    color: #19376D;
    font-weight: bold;
    letter-spacing: 2px;
}

.total span:nth-child(2) {
    font-size: 2rem;
    color:green;
    font-weight: bold;
}