/*  */

.loginForm {
  height:50vh;
  width:30vw;
  margin: 0 auto;
  padding: 3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #B9EDDD;
  padding-right:3.5rem;
}

.loginForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login{
  width: 5rem;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  margin-top:4rem;
  
  

}
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .inputGroup label {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }
  
  .inputGroup input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .inputGroup button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #19376D;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .registerLink {
    margin-top: 20px;
    text-align: center;
   
  }
  .reg {
    cursor: pointer;
    color: blue;

  }
  .registerLink a {
    color: blue;
    text-decoration: underline;
  }

  .errorMessage {
    color:red;
  }
  










  label {
    font-size: large;
    font-weight: bold;
    margin-bottom: .5rem;
  }


  @media only screen and (min-width:320px){

    .loginForm{
      width:50vw;
    }

  }

  @media only screen and (min-width:1024px){
    .loginForm{
      width:30vw;
    }
  }
 
  
  /* .loginForm label {
    display: block;
    margin-bottom: 10px;
  } */
  
  /* .loginForm input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */
  
  /* .loginForm button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */

  
  /* .registerLink {
    margin-top: 20px;
    text-align: center;
  }
  
  .registerLink a {
    color: blue;
    text-decoration: underline;
  } */
  
  
  /* @media screen and (min-width: 768px) {
    .loginForm {
      max-width: 600px;
    }
  } */
  