.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width:100%;
  }
  
  
  
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .formGroup label {
    margin-bottom: 5px;
  }
  
  .content {
    padding: 0.5rem;
    width: 20vw
  }
  
  .registerButton {
    padding: 0.5rem 2rem;
    margin: 1rem;
    font-size: 1.5rem;
  }
  
  .register {
    color: blueviolet;
    font-size: 2rem;
  }

  @media only screen and (min-width:320px){

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80vw;
      padding: 20px;
      background-color: #eee;
      border-radius: 10px;
    }

    .content {
      width:50vw;
    }

  }

  @media only screen and (min-width:1024px) {
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30vw;
      padding: 20px;
      background-color: #eee;
      border-radius: 10px;
    }

    .content {
      padding: 0.5rem;
      width: 20vw
    }

  }